
.about {
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-style: italic;
	color: black;
}

.port{
/*	text-decoration: none;*/
	font-weight: bold;
	font-family: arial;
	color: black;
}



h2{ 
	font-family: arial;
	/*display: inline-block;*/

	}



h1{
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

}

.centerinfo{
	display: block;
	width: 400px;
	float: left;

}

.avatar{
	display: inline;
	height: auto;

	position: relative;
	left: 70px;
}


img{
	width: 300px;
	height: auto;
	border: 1px solid black;
	padding: 4px;
	/*float: right;*/

}

body{
	background-color: #f6f6f6;
	border-style: solid;
	border-right: none;
	border-left: none;
	margin: 0px 350px 0px 350px;
/*	padding: 150px 0px 150px 0px;*/
	
}


.toplink{
	text-align: center;
	padding-top: 50px;
}



.bottomlink {
	color: black;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	margin: 50px 0px 50px 0px;
	
}



