

 body{
 	text-align: center;

}

 h1 { 
   position: absolute; 
   top: 200px; 
   width: 100%;
   color: white;
 }

.get_button{
	display: block;

	position: absolute; 
    width: 115px;
    height: 25px;
    background: #f9e42e;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-weight: bold;
  }




